body {
    @apply antialiased font-sans text-sm bg-background text-foreground;
}
.color-select {
    @apply form-input relative block cursor-pointer rounded-md border-0 px-2.5 py-1.5 text-sm font-normal uppercase text-white/80 shadow-sm ring-1 ring-inset ring-white/20;
}
.ck-cp-container {
    @apply bg-white dark:bg-background;
}
.ck-cp-local-color-conatiner {
  @apply !border-t border-black/5 dark:!border-white/5
}
.ck-cp-color-list-label {
  @apply !text-foreground
}
.ck-cp-color-item {
  @apply !border-none ring-1 ring-inset dark:ring-white/20 ring-black/20
}
.cp-btn-save-color {
  @apply !border-none ring-1 ring-inset ring-black/20 dark:ring-white/20 p-1
}

.cp-main-btn {
  @apply dark:!bg-gray-800 rounded ring-1 ring-inset dark:ring-white/10 ring-black/10
}
.cp-btn-save-color svg,
.cp-main-btn svg {
  @apply !fill-foreground
}

.no-content-1 {
    background: url("@/assets/images/search-1.gif");
  }
  .no-content-2 {
    background: url("@/assets/images/search-2.gif");
  }
  .no-content-3 {
    background: url("@/assets/images/search-3.gif");
  }
  .no-content-4 {
    background: url("@/assets/images/search-4.gif");
  }
  .no-content-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @apply min-h-32 min-w-64 rounded-lg dark:!bg-gray-900;
  }


  .first-beam {
    animation-name            : loop-anim-1;
    animation-duration        : 1.2s;
    animation-iteration-count : infinite;
  }
  .second-beam {
    animation-name            : loop-anim-2;
    animation-duration        : 1.2s;
    animation-delay           : .4s;
    animation-iteration-count : infinite;
  }
  @keyframes loop-anim-1 {
    0% {
        left  : -90%;
        right : 100%;
    }
    60% {
        left  : -90%;
        right : 100%;
    }
    100% {
        left  : 100%;
        right : -35%;
    }
  }
  
  @keyframes loop-anim-2 {
    0% {
        left  : -90%;
        right : 100%;
    }
    40% {
        left  : -90%;
        right : 100%;
    }
    100% {
        left  : 100%;
        right : -35%;
    }
  }