body {
    @apply antialiased font-sans text-sm bg-background text-foreground;
}
.color-select {
    @apply form-input relative block cursor-pointer rounded-md border-0 px-2.5 py-1.5 text-sm font-normal uppercase text-white/80 shadow-sm ring-1 ring-inset ring-white/20;
}
.ck-cp-container {
    @apply bg-white dark:bg-background;
}

.no-content-1 {
    background: url("@/assets/images/search-1.gif");
  }
  .no-content-2 {
    background: url("@/assets/images/search-2.gif");
  }
  .no-content-3 {
    background: url("@/assets/images/search-3.gif");
  }
  .no-content-4 {
    background: url("@/assets/images/search-4.gif");
  }
  .no-content-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @apply min-h-32 min-w-64 rounded-lg dark:!bg-gray-900;
  }