@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply !subpixel-antialiased;
}

@layer base {
  #__nuxt {
    @apply flex min-h-screen flex-col;
  }

  button,
  a,
  [role="button"] {
    @apply transition-colors;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @apply transition-all;
  }
}

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.pasted {
  @apply bg-gray-800;
  animation-name: blinkpaste;
  animation-duration: 2.5s;
}

@keyframes blinkpaste {
  0% {@apply bg-gray-800}
  10% {@apply bg-primary-400/40}
  2% {@apply bg-gray-800}
  30% {@apply bg-primary-400/40}
  4% {@apply bg-gray-800}
  50% {@apply bg-primary-400/40}
  60% {@apply bg-gray-800}
  70% {@apply bg-primary-400/40}
  80% {@apply bg-gray-800}
  90% {@apply bg-primary-400/40}
}

.logo-light {
  @apply !invert !filter;
}

.green-trade {
  @apply text-emerald-600 dark:text-emerald-500;
}

.red-trade {
  @apply text-rose-600 dark:text-rose-500;
}