@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply !subpixel-antialiased;
}

html,
body {
  @apply overflow-x-hidden;
  @apply text-gray-900;
  @apply bg-gray-950;
}

@layer base {
  #__nuxt {
    @apply flex min-h-screen flex-col;
  }

  html.light {
    @apply bg-white text-gray-900;
  }
  html.dark {
    @apply bg-gray-900 text-gray-50;
  }

  button,
  a,
  [role="button"] {
    @apply transition-colors;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @apply transition-all;
  }
}

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (min-width: 1024px) {
  .logo {
    @apply invert filter;
  }
}

.auth .logo {
  @apply !invert !filter;
}

.green-trade {
  @apply font-medium !text-teal-500 dark:!text-teal-300;
}

.bg-green-trade {
  @apply select-none !bg-teal-50 hover:!bg-teal-100 dark:!bg-teal-800 dark:hover:!bg-teal-700;
}

.red-trade {
  @apply select-none font-medium !text-rose-400 dark:!text-rose-200;
}

.bg-red-trade {
  @apply select-none !bg-rose-50 hover:!bg-rose-100 dark:!bg-rose-800 dark:hover:!bg-rose-700;
}

.daily-table {
  @apply text-sm text-gray-700 dark:text-white;
}

.daily-table .red-trade {
  @apply !bg-gradient-to-tl !from-rose-400 !to-rose-400 !bg-clip-text !text-transparent;
}
.daily-table .green-trade {
  @apply !bg-gradient-to-b !from-teal-400 !to-teal-500 !bg-clip-text !text-transparent;
}

.rating-8-up {
  @apply bg-gradient-to-tl from-teal-500 to-lime-500 text-white drop-shadow;
}
.rating-7-up {
  @apply bg-gradient-to-tr from-teal-500 to-teal-400 text-white drop-shadow;
}
.rating-5-up {
  @apply !bg-gradient-to-tr !from-teal-500/80 !to-indigo-300 text-white drop-shadow;
}
.rating-3-up {
  @apply bg-gradient-to-tr from-indigo-400 to-purple-400 text-white drop-shadow;
}
.rating-0-up {
  @apply bg-gradient-to-tr from-indigo-400 to-rose-400 text-white drop-shadow;
}

.daily-card-info-title {
  @apply text-sm font-normal text-gray-400;
}
.text-2xs {
  @apply text-xs;
  font-size: 0.65rem !important;
}

x-vue-echarts {
  @apply min-h-96 min-w-96;
}

.divider div.border-gray-200 {
  @apply -mt-1 w-full border-b border-t-0 border-white bg-transparent opacity-10;
}

.main-layout {
  max-height: calc(100vh - 32px);
}

.sidebarpanel {
  @apply !border-r-0 !border-transparent;
}

.opener-button.primary.green {
  --background-color: #009f6d;
  --shadow-color: #1f8e6b;
  --primary-btn-opacity-1: 0.12;
  --primary-btn-opacity-2: 0.12;
}

.opener-button {
  color: #fff;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, var(--primary-btn-opacity-1)),
      rgba(255, 255, 255, var(--primary-btn-opacity-2))
    ),
    var(--background-color);
  box-shadow:
    0 -1px 12px 0 hsla(0, 0%, 100%, 0.12) inset,
    0 0 0 1px var(--shadow-color);
  transition:
    --primary-btn-opacity-1 0.1s ease-in-out,
    --primary-btn-opacity-2 0.1s ease-in-out;
}

.green-gradient {
  background-image: radial-gradient(circle at 100% 0, #061b16, transparent 37%),
    radial-gradient(circle at -200%, theme("colors.teal.500"), transparent 79%) !important;
}
.green-background {
  background-color: #061b16;
}

.card-bg-glow {
  background-image: url("@/assets/images/glow.png") !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

.base-card {
  @apply divide-gray-200 rounded-lg bg-white px-10 py-8 ring-1 ring-gray-200 sm:p-6 dark:divide-gray-800 dark:bg-gray-900 dark:ring-gray-700/50;
}

.no-content-1 {
  background: url("@/assets/images/search-1.gif");
}
.no-content-2 {
  background: url("@/assets/images/search-2.gif");
}
.no-content-3 {
  background: url("@/assets/images/search-3.gif");
}
.no-content-4 {
  background: url("@/assets/images/search-4.gif");
}
.no-content-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @apply min-h-32 min-w-64 rounded-lg;
}

.tag {
  @apply text-primary-500 inline-flex flex-shrink-0 items-center gap-x-1 rounded-md px-2 py-1 text-center text-xs font-medium hover:bg-gray-300 dark:text-white dark:hover:bg-gray-950;
}

.ck-cp-container {
  @apply dark:!bg-gray-950;
}

.color-select {
  @apply form-input relative block cursor-pointer rounded-md border-0 px-2.5 py-1.5 text-sm font-normal uppercase text-white/80 shadow-sm ring-1 ring-inset ring-white/20;
}

/** Date range picker */
.vc-header .vc-title {
  @apply text-sm;
}

.vc-primary {
  --vc-accent-200: theme("colors.green.100") !important;
}

.vc-day-content {
  @apply !font-medium;
}

.vc-day-content,
.vc-highlight-content-outline,
.vc-highlight-bg-solid,
.vc-highlight-bg-outline {
  @apply !rounded-lg;
}

:root {
  /*General*/
  --vs-font-family: "Nunito", blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --vs-border-radius: 4px; /*Configurable border-radius*/
  --vs-cell-border-radius: 4px; /*Specific border radius for the calendar cell*/
}

.vc-weekday {
  @apply !text-xs !font-medium !text-gray-500/50;
}

.main-layout .base-button {
  @apply box-border items-center justify-center gap-1 whitespace-nowrap !shadow-none transition-all duration-150;
}

.bg-main {
  @apply bg-gray-50 dark:bg-gray-800;
}

.button {
  @apply !shadow-none;
}

.primary-button {
  @apply bg-gradient-to-t from-teal-700 to-teal-600 text-white ring-1 ring-inset ring-teal-700 dark:from-teal-800 dark:to-teal-700;
}

.secondary-button {
  @apply bg-gradient-to-t from-gray-100 to-gray-50 text-gray-700 ring-1 ring-inset ring-gray-300 dark:from-gray-800 dark:to-gray-800 dark:ring-gray-600;
}

.text-light-dark {
  @apply text-gray-900 dark:text-white;
}

.danger-button {
  @apply bg-gradient-to-t from-rose-700 to-rose-600 text-white ring-1 ring-inset ring-rose-700 dark:from-rose-700 dark:to-rose-800;
}

.button-primary {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.12), hsla(0, 0%, 100%, 0)),
    theme("colors.teal.600");
  @apply text-white ring-1 ring-teal-700;
}
.button-secondary {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.12), hsla(0, 0%, 100%, 0)),
    theme("colors.gray.50");
  @apply py-2 ring-1;
}
.vc-highlight-bg-solid {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.12), hsla(0, 0%, 100%, 0)),
    theme("colors.teal.600") !important;
}

.font-nunito {
  font-family: Nunito !important;
}
.selected-ratio-tooltip {
  @apply text-xs !text-gray-900;
}
.selected-ratio-tooltip h2 {
  @apply pb-2 text-sm !text-gray-900;
}
.selected-ratio-tooltip code {
  @apply rounded bg-teal-500/10 px-1.5 py-1 font-medium text-teal-600 ring-1 ring-teal-500 dark:text-teal-300 dark:ring-teal-800;
}
@keyframes stars {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: rotate(180);
    -moz-transform: rotate(180);
    transform: rotate(180);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.magic-star {
  animation-name: stars;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.navlink.router-link-active {
  .navlink-active {
    @apply bg-white;
  }
  .navlink-active-card {
    @apply bg-gray-800 text-white ring-1 ring-gray-700/25 hover:ring-gray-700/50;

    .icon {
      @apply bg-transparent !ring-0 !grayscale-0;
    }
  }
}

#gradient-canvas {
  --gradient-color-1: theme("colors.teal.200");
  --gradient-color-2: theme("colors.teal.500");
  --gradient-color-3: theme("colors.teal.800");
  --gradient-color-4: theme("colors.gray.800");
}

.trade-overview-screenshots img {
  @apply mb-4 cursor-pointer rounded-lg shadow ring-1 ring-gray-200;
}

h1,
h2,
h3 {
  font-family: Roboto, sans-serif !important;
}

.diary h1 {
  @apply text-3xl;
}

.diary h2 {
  @apply text-2xl;
}

.diary h3 {
  @apply text-xl;
}

.diary {
  @apply text-sm;
}

div[role="textbox"] ul,
.diary ul {
  @apply ml-5 list-disc;

  li::marker {
    @apply text-xs text-black/25 dark:text-white/25;
    content: "-   ";
  }
}

.multiselect__placeholder {
  @apply !text-xs !font-medium !text-white/50;
}

.multiselect__input::placeholder {
  @apply !text-xs !font-medium !text-white/90;
}

.multiselect__option,
.multiselect__option::after {
  @apply border-l-4 !border-transparent !bg-transparent;
}

.multiselect__option--selected.multiselect__option,
.multiselect__option--selected.multiselect__option::after {
  @apply !bg-transparent !text-fuchsia-400;
}

.multiselect__option--selected,
.multiselect__content-wrapper,
.multiselect__tags {
  @apply !border-gray-900 !bg-black !text-xs !font-medium !text-gray-50;
}

.multiselect__tags {
  @apply mb-4 !rounded-lg !text-xs !text-white/80;
}

.multiselect__content-wrapper {
  @apply !rounded-lg;
}

.multiselect__tag {
  @apply !rounded !bg-teal-500 !text-xs !font-medium;
}

.multiselect__input,
.multiselect__single {
  @apply !bg-transparent;
}

.bg-backdrop {
  @apply !bg-gray-950/25 backdrop-blur-sm;
}
.folder {
  @apply rounded-md border-gray-700 bg-gray-700 ring-1 ring-inset ring-white/10;
  position: relative;
  width: 92px;
  height: 64px;
  display: block;
  top: 10px;
  z-index: 1;
}
.folder-tab {
  height: calc(100% - 50%);
  @apply absolute -top-4 block w-1/2 rounded-t-md border-gray-800 bg-gray-800 ring-1 ring-inset ring-white/10;
}

.folder-top {
  height: calc(100% - 90%);
  @apply absolute -top-4 block w-full rounded-t-md border-gray-800 bg-gray-800;
}

:root {
  --vis-tooltip-background-color: theme("colors.gray.800") !important;
  --vis-tooltip-border-color: theme("colors.gray.700") !important;
  --vis-tooltip-text-color: theme("colors.white") !important;
}
